@use "/src/common/styles/variables.scss" as vars;

.paginationElement{
  width: 34px;
  height: 24px;
  background-color: vars.$c-blue-1;
  border-radius: 4px;
  color: white;
  margin: 8px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;

  &.current{
    background-color: vars.$c-blue-2;
  }
}