
$c_blue_1: #5CA3FA;
$c_blue_2: #2F68AD;
$c_blue_3: #103561;
$c_yellow_1: #FADA2A;
$c_yellow_2: #AD9926;
$c_brown_1: #FA995C;
$c_brown_2: #AD6537;
$c_brown_3: #9E853A;
$c_cream_1: #F2ECC9;
$c_purple_1: #A885E6;
$c_purple_2: #AA56B3;
$c_purple_3: #761780;

$time_transition_std: 200ms;
