#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "ui-monospace", "SFMono-Regular", "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
}

.main {
  width: 100%;
}
