.repositoryList {
  display: grid;
  gap: 16px 16px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  justify-items: stretch;
  align-content: stretch;
  justify-content: center;
  flex-grow: 1;
}
